{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">The Great "Escape"</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
    Unfortunately the flight and navigation computers are down. Without them we are stranded in space with no <i>escape</i>. The only remaining system is this captain's log. Your mission is to bring these systems back up to get us home!
<br>
Good Luck!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary" href="{{ url_for('create') }}">New Log Entry</a>
    </div>
  </div>
</div>
{% endblock %}
